/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    padding: 1.25em;
}
 
 .each,.detail{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
 }
.img img,.icon_name img{
    max-width: 4em;
    border-radius: 10%;
    padding: 0.4em;
    margin: 0;
}
a{
  text-decoration: none; 
}
.leftDiv,.icon_name{
    display: flex; 
    gap: 1em;
}
.content{
      color: #8492a2;
      font-size: smaller;
}
.content a{
    color: #8492a2;
    text-decoration: none; 
    font-size: medium;
    font-weight: bold;
}
.content a:hover {
    color: #0056b3;
  }
  .rightDiv p{
    color: #434b54 ;
    font-weight: bold;
  }
  .rightDiv button{
    padding: 0.2em;
    border:  #ddd8d7;;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .addbtn{
    background-color: #5fb523;
    padding: 1em;
  }
  .addbtn a{
    display: flex;
    justify-content: center;
    padding: 0.5em;
    border: 1px solid white;
    color: white;
  }
  h2{
    display: flex;
    justify-content: center;
    color: #8492a2;
  }
.detail{
  box-shadow: 0 103px 100px rgb(252 251 251 / 20%);
  background-color: rgb(220, 226, 212);
  opacity: 0.8;
  align-items: center;
}
.icon_name,.first{
  align-items: center;
}
#each_py a{
   width: 98%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.back_link{
  display: flex;
  justify-content: center;
  
}
.back_link a{
    border: 1px solid #938f8f;
    padding: 1em;
    border-radius: 10%;
    box-shadow: 0 103px 100px rgb(252 251 251 / 20%);
    margin-top: 1em;
}

input[type=submit] {
  margin-top: 12px;
  background-color: #434b54;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select,
input,
textarea,
.post-button {
  width: 100%;
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

form div {
  display: flex;
}

label {
  width: 20%;
}

.cont {
  margin: 0 auto;
  max-width: 39rem;
  padding: 3em;
  color: rgb(34, 32, 32);
  opacity: 0.8;
}
form{
  display: flex;
  gap: 1em;
  flex-direction: column;
}
